<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Climate and Forecast Metadata also know as the CF Convention or CF Metadata" />
    <meta name="author" content="{{ site.author }}">
    <link rel="shortcut icon" href="Data/media/images/favicon.png">

    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="Data/jspanel/jquery.jspanel.min.css" rel="stylesheet">
    <link href="Data/MetroJs/MetroJs.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="Data/jspanel/jquery.jspanel.js"></script>
    <script src="Data/MetroJs/MetroJs.js"></script>
    
    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 50px;
        padding-bottom: 20px;
      }
    </style>
    <!-- Custom JavaScript files set in YAML front matter -->
    <!-- This is for jQuery in the markup -->
    {% for js in page.customjs %}
    <script async type="text/javascript" src="{{ js }}"></script>
    {% endfor %}
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
          <a class="navbar-brand" href="index.html">acme-oui.github.io</a>
          <div class="nav-collapse">
            <ul class="nav navbar-nav">
              {% assign pages_list = site.pages %}
              {% assign group = 'navigation' %}
              {% include pages_list %}
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div style="margin-bottom: 60px;"></div>
    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="container">
      {{ content }}

      <hr>

      <footer>
      <p>
      <a href="http://github.com/webshootertk">webshootertk</a> &bull;
      <a href="http://github.com/webshootertk/webshooter">webshooter</a> &bull;
      <a href="#">Privacy &amp; Legal Notice</a>
      </p>
      </footer>
    </div> <!-- /container -->


  </body>
</html>
